body{
    color: rgb(57, 116, 116);
    background-color: blue;

}
.heading{
    width: 75%;
    font-size: 20px;
    
}
.name_of_object #result_object_name, #result_object_accuracy{
    color: rgb(0, 0, 0);
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}